nav {
  background: rgba(0, 0, 0, 0.3);
  max-width: max-content;
  display: block;
  padding: 0.7rem 1.7rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
  line-height: 0;
}

nav a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  color: var(--color-light);
  font-size: 1.1rem;
}

nav a:hover {
  background: rgba(0, 0, 0, 0.3);
}

.music-qr {
  position: absolute;
  max-width: max-content;
  display: block;
  padding: 0.7rem 1.7rem;
  z-index: 2;
  position: fixed;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
  top: -4rem;
  display: flex;
  right: 0;
}

.music-qr a {
  background: white;
  line-height: 0;
  border-radius: 50%;
  display: flex;
  color: rgb(143, 96, 75);
  font-size: 1rem;
}


.music-qr a:hover {
  background: white;
  cursor: pointer;
}

h2 {
  font-family: 'Fredoka';
}
.swal2-html-container {
  font-family: 'Fredoka';
}